@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
  font-family: "poppins";
  src: url("../public/Poppins-Regular.otf")
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(30px); /* Adjust the distance as needed */
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeDown {
  from {
    opacity: 0;
    transform: translateY(-20px); /* Adjust the distance as needed */
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.slow-fade {
  animation: fade 2s
}

.fade-in-up {
  animation: fadeUp 0.8s ease-in-out; /* Adjust the animation duration and timing function as needed */
}

.fade-in-up-fast {
  animation: fadeUp 0.5s ease-in-out; /* Adjust the animation duration and timing function as needed */
}

.fade-in-down {
  animation: fadeDown 0.5s ease-in-out; /* Adjust the animation duration and timing function as needed */
}
